<html>
  <head>
    <script type="text/javascript" defer>

      function map() {
        var words = document.body.innerHTML.split(/\n|\s/).length;
        emit('reduce', {'count': words});
      }

      function reduce() {
        var sum = 0;
        var docs = document.body.innerHTML.split(/\n/);
        for (num in docs) { sum += ((parseInt(num) > 0) ? parseInt(num) : 0) }
        emit('finalize', {'sum': sum});
      }

      function emit(phase, data) {
        var myForm = document.createElement("form");
        myForm.method="POST";
        myForm.action = "/emit/"+phase;

        for (var k in data) {
          var myInput = document.createElement("input");
          myInput.setAttribute("name", k);
          myInput.setAttribute("value", data[k]);
          myForm.appendChild(myInput);
        }

        document.body.appendChild(myForm);
        myForm.submit();
        document.body.removeChild(myForm);
      }

      window.onload = function(){ <%= "#{@execute}();" if @execute %> };
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
